<div class="main-header">
  <div class="navbar-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul>
    <li> <a href="/">Home</a> </li>
    <li> <a href="/users/login">Login</a> </li>
    <li> <a href="/users/register">Register</a> </li>
    <li> <a href="/ideas">Ideas</a> </li>
    <li> <a href="/add">Add Idea</a> </li>
    <li> <a href="/about">About</a> </li>
  </ul>
</div>
